.example-item {
  width: 124px;
  height: 56px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example-item__value {
  font-family: $font-site;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example-item__description {
  position: relative;
  width: 80px;
  background-color: $bg-color;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
