.page-header__wrapper {
  width: 320px;
  margin: 0 auto;
}

.page-header__logo {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-top: 12px;
}

.page-header__nav {
  position: relative;
}
