.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-site;
  font-size: 14px;
  text-align: center;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $basic_green;
  cursor: pointer;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba($color: #ffffff, $alpha: 0.3);
  }
}
