.cards {
  min-width: $width-mobile;
  border-top: 1px solid $special_grey-2;
  border-bottom: 1px solid $special_grey-2;

  & .wrapper {
    @media (max-width: $width-mobile-only) {
      width: 100%;
      padding: 0;
    }
  }

  @media (min-width: $width-tablet) {
    border: none;
  }
}

.cards__title {
  font-family: $font-site;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  padding: 27px 0 41px $padding-mobile;

  @media (min-width: $width-tablet) {
    font-size: 60px;
    line-height: 60px;
    padding: 0;
    margin: 65px 0 83px 0;
  }
}

.cards__list {
  @include list;
  margin-bottom: 25px;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 60px;
    margin-bottom: 68px;
  }

  @media (min-width: $width-desktop) {
    justify-content: space-between;
    gap: 63px;
    margin-bottom: 75px;
  }
}

.cards__item {
  border-top: 1px solid $special_grey-2;
  padding: 20px 20px 25px 20px;

  @media (min-width: $width-tablet) {
    width: 322px;
    padding: 8px 0 40px 0;
    border: none;
    background: linear-gradient(to top, $special_grey-2 429px, #ffffff 429px);
  }

  @media (min-width: $width-desktop) {
    width: 245px;
    padding: 0 0 40px 0;
  }

  &:last-child {
    @media (min-width: $width-tablet) {
      height: 389px;
      padding-top: 0;
      border: 1px solid $special_grey-2;
      background: none;
    }
  }
}
