.contacts {
  width: 320px;
  background: $basic_grey;
}

.contacts__wrapper {
  transform: translate(-20px);
}

.contacts__header {
  padding: 28px 19px;
  display: flex;
  justify-content: space-between;
  font-style: normal;
  // width: calc(100% + 40px);

  &--index {
    background: #ffffff;
  }
}

.contacts__title {
  padding: 0;
  margin: 0;
  width: 50%;
  font-family: $font-site;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
}

.contacts__text {
  padding: 0;
  margin: 0;
  width: 50%;
  color: $special_dark-grey-1;
  line-height: 20px;
}

.contacts__location {
  width: 100%;
  height: 362px;
  background-image: url("../../img/map.svg");
  background-size: contain;
  position: relative;
}
