.contacts {
  min-width: 320px;

  @media (min-width: $width-desktop) {
    background: url("../img/man-desktop.svg") no-repeat;
    background-size: cover;
  }
}

.contacts__wrapper {
  @media (min-width: $width-tablet) {
    transform: translate(0);
  }

  @media (min-width: $width-desktop) {
    max-width: $width-desktop - $padding-desktop * 2;
    margin: 0 auto;
    padding: 0 $padding-desktop;
    display: flex;
    align-items: center;
    position: relative;
    background-size: cover;
  }
}

.contacts__header {
  padding: 28px $padding-mobile;
  display: flex;
  justify-content: space-between;
  font-style: normal;
  background: $special_grey-2;

  &--index {
    background: #ffffff;
  }

  @media (min-width: $width-tablet) {
    padding: 0 71px;
    height: 201px;
    align-items: center;
  }

  @media (min-width: $width-desktop) {
    height: 201px;
    width: 570px;
    padding: 0 76px;
    background: #ffffff;
    align-items: center;
    position: absolute;
    top: 95px;
    left: $padding-desktop;
    z-index: 100;
  }
}

.contacts__title {
  padding: 0;
  margin: 0;
  width: 50%;
  font-family: $font-site;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;

  @media (min-width: $width-tablet) {
    font-size: 20px;
    line-height: 24px;
  }
}

.contacts__text {
  padding: 0;
  margin: 0;
  max-width: 145px;
  color: $special_dark-grey-1;
  line-height: 20px;

  @media (min-width: $width-tablet) {
    font-size: 16px;
    line-height: 20px;
    max-width: 160px;

    &-br {
      display: block;
    }
  }
}

.contacts__location {
  min-height: 362px;
  background: url("../img/map.svg") no-repeat;
  background-size: cover;
  position: relative;

  @media (min-width: $width-tablet) {
    min-height: 400px;
    background-image: url("../img/map-tablet.svg");
  }

  @media (min-width: $width-desktop) {
    background: none;
  }
}
