.contacts {
  min-width: 320px;
}

.contacts__wrapper {
  @media (min-width: $width-tablet) {
    transform: translate(0);
  }

  @media (min-width: $width-desktop) {
    max-width: $width-desktop - $padding-desktop * 2;
    margin: 0 auto;
    padding: 0 $padding-desktop;
    display: flex;
    align-items: center;
    position: relative;
  }
}

.contacts__header {
  padding: 27px $padding-mobile;
  display: flex;
  justify-content: space-between;
  font-style: normal;
  background: $basic_grey;

  &--index {
    background: #ffffff;
  }

  @media (min-width: $width-tablet) {
    padding: 0 71px;
    height: 201px;
    align-items: center;
  }

  @media (min-width: $width-desktop) {
    height: 201px;
    width: 570px;
    padding: 0 76px;
    background: #ffffff;
    align-items: center;
    position: absolute;
    top: 95px;
    left: 0;
    z-index: 10000;
  }
}

.contacts__title {
  padding: 0;
  margin: 0;
  width: 50%;
  font-family: $font-site;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 19px;

  @media (min-width: $width-tablet) {
    font-size: 20px;
    line-height: 24px;
  }
}

.contacts__text {
  padding: 0 0 0 5px;
  margin: 0;
  max-width: 145px;
  color: $special_dark-grey-1;
  line-height: 19px;

  @media (min-width: $width-tablet) {
    font-size: 16px;
    line-height: 20px;
    max-width: 160px;
    text-align: right;
    padding-top: 5px;

    &-br {
      display: block;
    }
  }

  @media (min-width: $width-desktop) {
    padding-top: 4px;
    padding-left: 0;
    text-align: left;
    max-width: 168px;
  }
}

.contacts__location {
  min-height: 362px;
  z-index: -1;
}

.contacts__location-map {
  height: 362px;

  @media (min-width: $width-tablet) {
    height: 400px;
  }
}

.contacts__location--bg {
  @media (min-resolution: 2dppx) {
    background: url("../img/rectangle-mobile@2.png") no-repeat;
    background-size: cover;
    background-position: center;
  }
  background: url("../img/rectangle-mobile.png") no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  @media (min-width: $width-tablet) {
    min-height: 400px;

    @media (min-resolution: 2dppx) {
      background: url("../img/rectangle-tablet@2.png") no-repeat;
      background-size: cover;
      background-position: center;
    }

    background: url("../img/rectangle-tablet.png") no-repeat;
    background-size: cover;
    background-position: center;
  }

  @media (min-width: $width-desktop) {
    width: 100%;

    @media (min-resolution: 2dppx) {
      background: url("../img/rectangle-desktop@2.png") no-repeat;
      background-size: cover;
      background-position: center;
    }
    background: url("../img/rectangle-desktop.png") no-repeat;
    background-size: cover;
    background-position: center;
  }
}
