.copyright {
  padding-top: 22px;

  @media (min-width: $width-tablet) {
    padding: 0;
  }
}

.copyright__link {
  color: #666666;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $width-tablet) {
    padding: 0 0 10px 5px;
    width: 169px;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $width-desktop) {
    position: relative;
    top: 5px;
  }

  &:hover svg {
    color: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  width: 114px;
  font-size: 16px;
}
