.example {
  min-width: $width-mobile;

  @media (min-width: $width-tablet) {
    min-width: $width-tablet;
  }

  @media (min-width: $width-desktop) {
    width: 100%;
    background: linear-gradient(to top, $basic_grey 462px, #ffffff 462px);
  }
}

.example__wrapper {
  background: $basic_grey;
  padding: 22px $padding-mobile 27px;
  margin: 0 auto;

  @media (min-width: $width-tablet) {
    padding: 43px $padding-tablet 33px;
    background: linear-gradient(to top, $basic_grey 462px, #ffffff 462px);
  }

  @media (min-width: $width-desktop) {
    max-width: $width-desktop - $padding-desktop * 2;
    padding: 0 $padding-desktop 64px;
    display: grid;
  }
}

.example__title {
  font-family: $font-site;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  padding: 0;
  margin: 0 0 33px 0;

  @media (min-width: $width-tablet) {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 63px 0;
  }

  @media (min-width: $width-desktop) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 70px 0 78px;
    margin: 0;
    align-self: center;
  }
}

.example__text {
  color: $special_dark-grey-1;
  line-height: 18px;
  padding: 0;
  margin: 0 0 25px 0;

  @media (min-width: $width-tablet) {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 54px 0;
  }

  @media (min-width: $width-desktop) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 436px;
    margin: 0;
    padding: 70px 0 0;
  }
}

.example__calculation {
  @media (min-width: $width-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 59px 0;
  }

  @media (min-width: $width-desktop) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
  }
}

.example__list {
  @include list(0, 0 0 20px 0);
  display: flex;
  justify-content: space-between;
  align-content: center;

  @media (min-width: $width-tablet) {
    width: 366px;
    margin: 0;
  }
}

.example__item {
  position: relative;
}

.example__price {
  font-family: $font-site;
  text-transform: uppercase;
  line-height: 20px;
  text-align: center;
  padding: 0;
  margin: 0 0 42px 0;

  &-value {
    display: inline-block;
  }

  @media (min-width: $width-tablet) {
    font-size: 20px;
    line-height: 29px;
    width: 174px;
    margin: 0;
    text-align: right;
  }

  @media (min-width: $width-desktop) {
    width: 327px;
    display: flex;
    justify-content: space-between;
  }
}

.example__slider {
  @media (min-width: $width-desktop) {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }
}
