.example {
  min-width: $width-mobile;
  background: $basic_grey;

  @media (min-width: $width-tablet) {
    background: linear-gradient(to top, $basic_grey 462px, #ffffff 462px);
  }
}

.example__wrapper {
  padding: 28px 0 27px;

  @media (min-width: $width-tablet) {
    padding: 43px 0 61px;
  }

  @media (min-width: $width-desktop) {
    padding: 0 0 64px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

.example__title {
  font-family: $font-site;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  padding: 0;
  margin: 0 0 33px;

  @media (min-width: $width-tablet) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $width-desktop) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-top: 40px;
    margin: 0;
    align-self: start;
  }
}

.example__text {
  color: $special_dark-grey-1;
  line-height: 18px;
  padding: 0;
  margin: 0 0 25px;

  @media (min-width: $width-tablet) {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 54px;
  }

  @media (min-width: $width-desktop) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 436px;
    margin: 0;
    padding-top: 18px;
    align-self: center;
  }
}

.example__calculation {
  @media (min-width: $width-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 35px;
  }

  @media (min-width: $width-desktop) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 30px;
    margin: 0;
  }
}

.example__list {
  @include list(0, 0 0 20px 0);
  display: flex;
  justify-content: space-between;
  align-content: center;

  @media (min-width: $width-tablet) {
    width: 366px;
    margin: 0;
  }
}

.example__item {
  position: relative;
}

.example__price {
  font-family: $font-site;
  text-transform: uppercase;
  line-height: 20px;
  text-align: center;
  padding-top: 14px;
  margin: 0 0 42px;

  &-value {
    display: inline-block;
  }

  @media (min-width: $width-tablet) {
    font-size: 20px;
    line-height: 29px;
    width: 174px;
    margin-bottom: 60px;
    padding: 0;
    text-align: right;
  }

  @media (min-width: $width-desktop) {
    width: 327px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }
}

.example__slider {
  @media (min-width: $width-desktop) {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }
}
