.example-item {
  width: 124px;
  height: 56px;
  text-align: center;
  border: 1px solid $special_grey;
  border-radius: 3px;
}

.example-item__value {
  padding: 14px 0 0 0;
  margin: 0;
  font-family: $font-site;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example-item__description {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 80px;
  background-color: $basic_grey;
  font-size: 12px;
  line-height: 12px;
  color: $special_dark-grey-1;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}
