.form {
  min-width: $width-mobile;
  font-family: $font-site;
  text-transform: uppercase;
  border-top: 1px solid $special_grey;
  overflow: hidden;

  @media (min-width: $width-tablet) {
    border: none;
    overflow: hidden;
  }

  & .wrapper {
    @media (min-width: $width-tablet) {
      min-width: $width-tablet - 140px;
      padding: 0 70px;
    }

    @media (min-width: $width-desktop) {
      min-width: $width-desktop;
      padding: 0 $padding-desktop;
    }
  }
}

.form__input-mail,
.form__input-phone {
  &:hover {
    border-color: $special_grey;
  }

  &:focus {
    border-color: $special_dark-grey-1;
    border-width: 2px;
    outline: none;
  }
}

.form__input--invalid {
  &:invalid {
    border-color: $status_error;
    border-width: 2px;
  }
}

.form__wrapper {
  padding: 27px 0 32px;

  @media (min-width: $width-tablet) {
    padding: 65px 0;
  }

  @media (min-width: $width-desktop) {
    padding: 77px 0;
  }
}

.form__title {
  text-transform: none;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  margin: 0 0 37px;

  @media (min-width: $width-tablet) {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 54px;
  }

  @media (min-width: $width-desktop) {
    margin: 0 0 56px;
    max-width: max-content;
  }
}

.form__subtitle {
  line-height: 18px;
  margin: 0 0 39px;

  @media (min-width: $width-tablet) {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 66px;
  }
}

.form__legend {
  text-transform: none;
  font-size: 24px;
  line-height: 26px;
  max-width: 220px;
  padding: 18px 14px 0 20px;
  position: relative;
  background-color: #ffffff;
  top: -35px;
  left: -20px;

  @media (min-width: $width-tablet) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 42px 0 30px;
    top: -25px;
    left: -30px;
    max-width: max-content;
  }

  @media (min-width: $width-desktop) {
    max-width: max-content;
  }
}

.form__person-data {
  @include reset-fieldset;
  margin: 0 0 24px;
  padding: 0 $padding-mobile;

  @media (min-width: $width-tablet) {
    margin: 0 0 72px;
    padding: 0 70px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $width-desktop) {
    margin: 0;
    grid-column: 1 / 2;
    display: inline-block;
    padding: 0;
    width: 100%;
  }
}

.form__check {
  @include reset-fieldset;
  border-top: 1px solid $special_grey-1;
  border-bottom: 1px solid $special_grey-1;
  width: 100%;
  margin-bottom: 50px;

  @media (min-width: $width-tablet) {
    border: none;
    margin: 0 0 71px;
  }

  @media (min-width: $width-desktop) {
    grid-column: 2 / 3;
    min-width: 0;
    margin: 0;
  }

  & .wrapper {
    @media (min-width: $width-tablet) {
      min-width: $width-tablet - 140px;
      padding: 0 70px;
    }

    @media (min-width: $width-desktop) {
      min-width: none;
      width: 568px;
      padding: 0;
    }
  }
}

.form__check--border {
  padding: 8px 0 20px;

  @media (min-width: $width-tablet) {
    border: 1px solid $special_grey-1;
    padding-left: 28px;
  }

  @media (min-width: $width-desktop) {
    min-height: 173px;
    width: 570px;
  }
}

.form__check-item {
  font-size: 16px;
  line-height: 18px;
  padding: 12px 0;
  color: $special_dark-grey-2;

  @media (min-width: $width-tablet) {
    font-size: 20px;
    line-height: 30px;
    width: max-content;
  }
}

.form__check-item--radio {
  display: none;

  &:checked + .form__check-item--label::before {
    content: "";
    background: url("./../img/radiobutton-active.svg") no-repeat center center;

    @media (min-width: $width-tablet) {
      background-size: 18px 18px;
    }
  }

  &:disabled + .form__check-item--label {
    opacity: 0.3;
  }
}

.form__check-item--label {
  display: flex;
  width: 300px;
  align-items: center;
  cursor: pointer;

  &::before {
    display: inline-block;
    content: "";
    width: 30px;
    height: 30px;
    border: 1px solid $special_grey-1;
    border-radius: 50%;
    margin-right: 15px;
    border-image: initial;

    @media (min-width: $width-tablet) {
      width: 40px;
      height: 40px;
    }
  }

  &:hover {
    &::before {
      border-color: #bababa;
    }
  }
}

.form__contact {
  @include reset-fieldset;
  min-width: $width-mobile;
  border-top: 2px solid $basic_green;
  z-index: -1;

  @media (min-width: $width-tablet) {
    margin: 0 0 65px;
  }

  @media (min-width: $width-desktop) {
    padding: 0;
    margin: 69px auto;
  }

  & .wrapper {
    @media (min-width: $width-tablet) {
      min-width: $width-tablet - 140px;
      padding: 0 70px;
    }

    @media (min-width: $width-desktop) {
      min-width: $width-desktop;
      padding: 0 $padding-desktop;
    }
  }

  & .leveler {
    @media (min-width: $width-desktop) {
      display: flex;
      flex-wrap: nowrap;
      column-gap: 78px;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.form__contact-item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 13px;
  color: $special_dark-grey-1;
  position: relative;

  @media (min-width: $width-tablet) {
    min-width: 630px;
  }

  @media (min-width: $width-desktop) {
    width: 570px;
    min-width: 0;
    margin: 0;
  }

  &:last-child {
    margin: 0;
  }

  & label {
    margin-right: 13px;
    display: block;
    min-width: max-content;

    @media (min-width: $width-tablet) {
      font-size: 20px;
      line-height: 30px;
      margin-right: 18px;
    }
  }

  & input {
    width: 100%;
    height: 44px;
    padding: 0 15px;
    border-radius: 0;
    border: 1px solid $special_grey-3;
    text-transform: uppercase;
    font-family: $font-site;

    @media (min-width: $width-tablet) {
      font-size: 20px;
      line-height: 30px;
      padding: 0 22px;
    }
  }
}

.form__svg {
  position: absolute;
  right: $padding-mobile;

  @media (min-width: $width-tablet) {
    right: 18px;
  }

  &--focus {
    path {
      stroke: $basic_green;
    }

    line {
      fill: $basic_green;
      stroke: $basic_green;
    }
  }

  &--invalid {
    path {
      stroke: $status_error;
    }

    line {
      fill: $status_error;
      stroke: $status_error;
    }
  }
}

.form__comment {
  @include reset-fieldset;
  margin-top: 32px;
  border-top: 2px solid $basic_green;

  @media (min-width: $width-desktop) {
    display: flex;
    justify-content: center;
  }

  & .wrapper {
    @media (min-width: $width-tablet) {
      min-width: $width-tablet - 140px;
      padding: 0 70px;
    }

    @media (min-width: $width-desktop) {
      min-width: $width-desktop;
      padding: 0 $padding-desktop;
    }
  }
}

.form__comment-text {
  width: 100%;
  text-transform: uppercase;
  font-family: $font-site;
  font-size: 16px;
  line-height: 18px;
  padding: 10px;
  border-color: $special_grey;
  resize: none;
  height: 150px;
  outline: none;

  @media (min-width: $width-tablet) {
    height: 174px;
    font-size: 20px;
    line-height: 30px;
    color: $special_dark-grey-1;
    margin: 0 0 65px;
    padding: 10px 19px;
  }
}

.form__options {
  @include reset-fieldset;
  min-width: 320px;
  margin-top: 32px;
  border-top: 2px solid $basic_green;

  @media (min-width: $width-desktop) {
    margin-bottom: 54px;
  }

  & .wrapper {
    @media (min-width: $width-tablet) {
      min-width: $width-tablet - 140px;
      padding: 0 70px;
    }

    @media (min-width: $width-desktop) {
      min-width: $width-desktop;
      padding: 0 $padding-desktop;
    }
  }

  & .leveler {
    @media (min-width: $width-tablet) {
      display: flex;
      column-gap: 123px;
      row-gap: 32px;
      margin-top: 34px;
      margin-bottom: 54px;
      flex-wrap: wrap;
    }

    @media (min-width: $width-desktop) {
      flex-wrap: nowrap;
      column-gap: 78px;
      align-items: center;
      justify-content: flex-start;
    }
  }
}

.form__options-check {
  margin: 13px 0 0;

  @media (min-width: $width-tablet) {
    margin: 0 0 32px;
    width: 225px;
  }

  @media (min-width: $width-desktop) {
    width: 221px;
  }

  &:nth-child(2n + 1) {
    @media (min-width: $width-desktop) {
      width: 221px;
    }
  }

  &:nth-last-child(-n + 2) {
    @media (min-width: $width-tablet) {
      margin: 0;
    }
  }
}

.form__options-check--checkbox {
  display: none;

  &:checked + .form__options-check--label::before {
    content: "";
    background: url("./../img/ok.svg") no-repeat center center;
  }

  &:disabled + .form__options-check--label {
    opacity: 0.3;
  }
}

.form__options-check--label {
  display: flex;
  align-items: center;
  cursor: pointer;

  &::before {
    display: inline-block;
    content: "";
    width: 30px;
    height: 30px;
    border: 1px solid $special_grey-1;
    margin-right: 16px;
    border-image: initial;

    @media (min-width: $width-tablet) {
      width: 40px;
      height: 40px;
      font-size: 20px;
      line-height: 30px;
    }
  }

  &:hover {
    &::before {
      border-color: #bababa;
    }
  }
}

.form__submit {
  & .wrapper {
    @media (min-width: $width-tablet) {
      min-width: $width-tablet - 140px;
      padding: 0 70px;
      display: flex;
      flex-wrap: wrap;
      column-gap: 61px;
    }

    @media (min-width: $width-desktop) {
      padding: 0 $padding-desktop;
      display: flex;
      flex-wrap: wrap;
      column-gap: 61px;
    }
  }
}

.form__button {
  margin: 34px 0 21px;
  font-family: $font-site;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0;
  border: none;

  @media (min-width: $width-tablet) {
    margin: 0;
    width: 282px;
    font-size: 20px;
    padding: 13px 0;
  }

  @media (min-width: $width-desktop) {
    width: 568px;
  }
}

.form__smoll {
  font-family: "Arial", "Helvetica", sans-serif;
  display: block;
  text-transform: none;
  width: 100%;
  text-align: center;

  @media (min-width: $width-tablet) {
    width: 180px;
    font-size: 16px;
    line-height: 16px;
    align-self: center;
    justify-self: flex-start;
  }

  @media (min-width: $width-desktop) {
    width: 200px;
  }
}
