.header-logo {
  cursor: pointer;
  position: relative;
  left: 20px;
  width: 190px;
  height: 38px;

  @media (min-width: $width-tablet) {
    left: 0;
    width: 174px;
    height: 52px;
  }

  @media (min-width: $width-desktop) {
    width: 202px;
    height: 59px;
  }
}
