.location__marker {
  width: 57px;
  height: 57px;
  position: absolute;
  top: 134px;
  left: 50%;
  transform: translate(50%);
  background: url("../img/map-png.svg") center center no-repeat;
  background-size: 57px 57px;

  @media (min-width: $width-tablet) {
    width: 115px;
    height: 115px;
    top: 146px;
    background-size: contain;
  }

  @media (min-width: $width-desktop) {
    top: 131px;
    transform: translate(0);
    left: 908px;
    z-index: 1000;
  }
}
