// TODO: location or delete this class and file
.location__marker {
  width: 57px;
  height: 57px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../../img/map-png.svg") center center no-repeat;
}
