.main-menu {
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  font-family: $font-site;
  font-size: 20px;
  line-height: 20px;

  @media (min-width: $width-tablet) {
    font-size: 18px;
    line-height: 24px;
    display: flex;
    flex-direction: row;
    justify-self: start;
    align-content: center;
  }
}

.main-menu__item {
  @media (max-width: $width-tablet - 1px) {
    padding: 22px 0 22px;
    border-top: 1px solid $special_grey-2;
  }

  @media (min-width: $width-tablet) {
    margin-right: 34px;
    border: none;
    height: 100%;
  }

  &:last-child {
    @media (min-width: $width-tablet) {
      margin-right: 0;
      text-align: right;
      padding-left: 3px;
    }
  }
}

.main-menu__link {
  padding: 0 0 10px 0;

  @media (min-width: $width-tablet) {
    display: block;
    height: 100%;
  }

  &--index {
    @media (min-width: $width-desktop) {
      color: #ffffff;
      font-size: 20px;
      line-height: 30px;
    }
  }

  &:hover {
    opacity: 0.6;

    @media (min-width: $width-tablet) {
      border-bottom: 2px solid $button-hover-color;
    }

    @media (min-width: $width-desktop) {
      border-bottom: 2px solid #ffffff;
    }
  }

  &:active {
    opacity: 0.3;
  }

  &--active {
    @media (min-width: $width-tablet) {
      border-bottom: 2px solid $button-hover-color;
      padding: 0 0 10px 0;
    }

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 1;
    }
  }

  &--active-index {
    @media (min-width: $width-desktop) {
      border-bottom: 2px solid #ffffff;
    }

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 1;
    }
  }
}
