@media (max-width: $width-mobile-only) {
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    display: block;
  }

  .main-nav__list {
    width: 100vw;
    display: none;
    transform: translateX(-$padding-mobile);
  }
}

.main-nav__list {
  @include list;

  &--visible {
    display: block;
  }

  @media (min-width: $width-tablet) {
    transform: translate(0);
    display: flex;
    align-content: center;
  }
}

.main-nav__toggle {
  position: absolute;
  top: -48px;
  right: 0;
  border: none;
  outline: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  overflow: hidden;

  @media (min-width: $width-tablet) {
    display: none;
  }
}

.main-nav__toggle--burger {
  background: url("../../img/burger.svg") no-repeat center center;
}

.main-nav__toggle--clossed {
  background: url("../../img/clossed.svg") no-repeat center center;
}
