.main-nav__list {
  @include list;
  display: none;
  width: 320px;
  transform: translate(-20px);

  &--visible {
    display: block;
  }
}

.main-nav__toggle {
  position: absolute;
  top: -48px;
  right: 0;
  border: none;
  outline: none;
  width: 24px;
  height: 24px;
}

.main-nav__toggle--burger {
  background: url("../../img/burger.svg") no-repeat center center;
}

.main-nav__toggle--clossed {
  background: url("../../img/clossed.svg") no-repeat center center;
}
