.page-footer {
  min-width: $width-mobile;
  background-color: $basic_grey;
}

.page-footer__wrapper {
  padding: 39px 0 22px;

  @media (min-width: $width-tablet) {
    height: 150px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo {
  display: block;
  text-align: center;
  margin-bottom: 26px;

  @media (min-width: $width-tablet) {
    width: 169px;
    margin: 0;
    padding: 0;
    text-align: left;
  }
}

.page-footer__social {
  @include list(20px 0, 0);
  width: 100%;
  padding: 20px 41px 15px;

  border-top: 1px solid $special_grey-1;
  border-bottom: 1px solid $special_grey-1;

  @media (min-width: $width-tablet) {
    width: 129px;
    padding: 0;
    border: none;
    align-items: center;
  }
}
