.page-header__wrapper {
  @media (max-width: $width-mobile-only) {
    min-width: $width-mobile;
    width: 100%;
    padding: 0;
    margin-bottom: 3px;
  }

  @media (min-width: $width-tablet) {
    padding: 0 $padding-tablet;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    min-height: 76px;
  }

  @media (min-width: $width-desktop) {
    padding: 0;
    max-width: 1220px;
    height: 112px;
  }
}

.page-header__logo {
  display: flex;
  width: 190px;
  align-items: center;
  justify-content: flex-start;
  padding-top: 12px;
  margin-bottom: 16px;

  @media (min-width: $width-tablet) {
    width: 174px;
    height: 52px;
    display: block;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $width-desktop) {
    width: 202px;
    height: 59px;
  }
}

.page-header__nav {
  position: relative;

  @media (min-width: $width-tablet) {
    min-width: 440px;
  }
}
