.page-header__wrapper {
  padding: 0 $padding-mobile;
  overflow: visible;

  @media (min-width: $width-tablet) {
    padding: 0 $padding-tablet;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 80px;
  }

  @media (min-width: $width-desktop) {
    max-width: 1220px;
    padding: 0 $padding-desktop;
    height: 112px;
  }
}

.page-header__logo {
  display: flex;
  width: 190px;
  align-items: center;
  justify-content: flex-start;
  // padding-left: $padding-mobile;
  padding-top: 12px;
  margin-bottom: 16px;

  @media (min-width: $width-tablet) {
    width: 174px;
    height: 52px;
    display: block;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $width-desktop) {
    width: 202px;
    height: 59px;
  }
}

.page-header__nav {
  position: relative;

  @media (min-width: $width-tablet) {
    min-width: 440px;
  }
}
