.person-data {
  padding: 0 20px 0 20px;
  width: 280px;
  color: $special_dark-grey-1;

  @media (min-width: $width-tablet) {
    width: 100%;
  }

  @media (min-width: $width-desktop) {
    width: 570px;
  }
}

.person-data__item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0 0 13px 0;

  &:last-child {
    margin: 0;
  }

  @media (min-width: $width-tablet) {
    margin: 0 0 20px 0;
  }
}

.person-data__label {
  margin: 0 13px 0 0;
  display: block;
  min-width: max-content;
}

.person-data__input {
  width: 100%;
  height: 44px;
  padding: 0 14px;
  border-radius: 0;
  border: 1px solid $special_grey-3;
  text-transform: uppercase;
  font-family: $font-site;
  color: $special_dark-grey-1;

  @media (min-width: $width-tablet) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $width-desktop) {
    height: 52px;
  }
}
