.promo {
  color: #ffffff;
  font-family: $font-site;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 302px;
    transform: translate(-20px);
    background: url("../../img/index-background-promo.png");
    background-position: center center;

    @media (min-width: $width-tablet) {
      display: none;
    }

    @media (min-width: $width-desktop) {
      display: block;
      width: 720px;
      height: 694px;
      background: url("../../img/bg-promo-desktop.png"),
        url("../../img/bg-promo-desktop-img.png");
      right: -128px;
      top: -112px;
      z-index: -1;
    }
  }

  @media (min-width: $width-tablet) {
    color: #000000;
  }

  @media (min-width: $width-desktop) {
    height: 665px;
  }
}

.promo__wrapper {
  position: relative;
  padding: 27px 0 0 0;
  margin-bottom: 22px;
  text-align: center;

  @media (min-width: $width-tablet) {
    padding: 62px 0 0 0;
    margin: 0;
    text-align: left;
  }

  @media (min-width: $width-desktop) {
    padding-left: 80px;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  padding: 0;
  margin: 0 0 25px 0;

  @media (min-width: $width-tablet) {
    width: 414px;
    font-size: 60px;
    line-height: 60px;
    padding: 0 0 0 87px;
    margin: 0 0 40px 0;
  }

  @media (min-width: $width-desktop) {
    padding: 0;
  }
}

.promo__subtitle {
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0 0 29px 0;

  @media (min-width: $width-tablet) {
    font-size: 20px;
    line-height: 20px;
    padding: 0 0 0 87px;
    margin: 0 0 20px 0;
  }

  @media (min-width: $width-desktop) {
    padding: 0;
    margin-bottom: 52px;
  }
}

.promo__image {
  width: 280px;
  height: 270px;
  margin-bottom: 3px;

  @media (min-width: $width-tablet) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: $width-desktop) {
    position: absolute;
    width: 550px;
    height: 500px;
    top: 32px;
    right: 230px;
  }
}

.promo__button {
  height: 40px;

  @media (min-width: $width-tablet) {
    font-size: 20px;
    line-height: 20px;
    width: 244px;
    height: 45px;
    position: absolute;
    top: 300px;
    left: 80px;
  }

  @media (min-width: $width-desktop) {
    position: static;
  }
}
