.promo {
  min-width: $width-mobile;
  color: #ffffff;
  font-family: $font-site;
  position: relative;

  @media (min-resolution: 2dppx) {
    background: url("../img/index-promo@2.png") no-repeat center 0 / 320px,
      linear-gradient(#63a73c 302px, #ffffff 302px, #ffffff 100%);
  }
  background: url("../img/index-promo.png") no-repeat center 0 / 320px,
    linear-gradient(#63a73c 302px, #ffffff 302px, #ffffff 100%);

  @media (min-width: $width-tablet) {
    background: none;
    color: #000000;
  }

  &::before {
    @media (min-width: $width-desktop) {
      content: "";
      position: absolute;
      display: block;
      width: 50%;
      height: 694px;
      left: 50%;
      top: -112px;
      z-index: -1;

      @media (min-resolution: 2dppx) {
        background: url("../img/index-promo@2.png") no-repeat 230px 65px / 664px,
          #63a73c;
      }
      background: url("../img/index-promo.png") no-repeat 230px 65px / 664px,
        #63a73c;
    }
  }
}

.promo__wrapper {
  position: relative;
  padding-top: 27px;
  margin-bottom: 22px;
  text-align: center;

  @media (min-width: $width-tablet) {
    padding-top: 62px;
    padding-left: 87px;
    margin: 0;
    text-align: left;
  }

  @media (min-width: $width-desktop) {
    min-height: 665px;
    padding-left: 0;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  padding: 0;
  margin: 0 0 25px;

  @media (min-width: $width-tablet) {
    width: 414px;
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 43px;
  }

  @media (min-width: $width-desktop) {
    padding-top: 47px;
    margin-left: 80px;
  }
}

.promo__subtitle {
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0 0 29px;

  @media (min-width: $width-tablet) {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 20px;
  }

  @media (min-width: $width-desktop) {
    padding: 0;
    margin-bottom: 52px;
    margin-left: 80px;
  }
}

.promo__image {
  width: 280px;
  height: 270px;

  @media (min-width: $width-tablet) {
    width: 665px;
    height: 609px;
    display: block;
    position: relative;
    left: -45px;
  }

  @media (min-width: $width-desktop) {
    position: absolute;
    width: 550px;
    height: 500px;
    top: 32px;
    right: 220px;
    left: 450px;
  }
}

.promo__button {
  height: 40px;

  @media (min-width: $width-tablet) {
    font-size: 20px;
    line-height: 20px;
    width: 244px;
    height: 53px;
    position: absolute;
    top: 295px;
    left: 83px;
  }

  @media (min-width: $width-desktop) {
    position: static;
    margin-left: 80px;
  }
}
