.selection {
  padding: 0 $padding-mobile;

  @media (min-width: $width-tablet) {
    padding: 0;
  }

  @media (min-width: $width-desktop) {
    max-width: $width-desktop;
    margin: 0 auto;
  }
}

.selection__list {
  @include list;

  @media (min-width: $width-tablet) {
    padding: 0 $padding-tablet;
  }

  @media (min-width: $width-desktop) {
    padding: 0 $padding-desktop;
    display: flex;
    justify-content: space-between;
  }
}

.selection__item {
  margin: 0 0 20px 0;

  @media (min-width: $width-tablet) {
    margin-bottom: 30px;
  }

  @media (min-width: $width-desktop) {
    padding: 0;
    margin: 0;
  }

  &:last-child {
    margin: 0 0 27px 0;

    @media (min-width: $width-tablet) {
      margin-bottom: 0;
    }
  }
}
