.slider__list {
  @include list(0, 0 0 0 0);
  margin-bottom: 18px;

  @media (min-width: $width-tablet) {
    margin-bottom: 7px;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 20px;
  }
}

.slider__item {
  display: flex;
  justify-content: center;
}

.slider__image {
  &--after {
    display: none;
  }

  @media (min-width: $width-tablet) {
    width: 680px;
    height: 523px;
  }

  @media (min-width: $width-desktop) {
    width: 593px;
    height: 510px;
  }
}

.slider__toggles {
  @include list;

  @media (min-width: $width-tablet) {
    margin: 0 auto;
  }

  @media (min-width: $width-desktop) {
    margin: 0;
  }
}
