.slider__list {
  @include list(0, 0 0 23px 0);
}

.slider__item {
  display: flex;
  justify-content: center;
}

.slider__image {
  &--after {
    display: none;
  }

  @media (min-width: $width-tablet) {
    width: 708px;
    height: 620px;
  }
}

.slider__toggles {
  @include list;

  @media (min-width: $width-tablet) {
    width: 585px;
  }
}
