.social {
  color: #666666;
  display: flex;
  justify-content: space-evenly;

  @media (min-width: $width-tablet) {
    width: 129px;
    justify-content: space-between;
  }

  @media (min-width: $width-desktop) {
    position: relative;
    top: 5px;
  }
}

.social__link {
  &:hover {
    color: #68b738;
  }

  &--fb {
    &:hover {
      stroke: #68b738;
      fill: none;
    }
  }

  &:active {
    svg path {
      opacity: 0.3;
    }
  }
}
