.social {
  display: flex;
  justify-content: space-evenly;

  @media (min-width: $width-tablet) {
    width: 129px;
    justify-content: space-between;
  }
}

.social__link {
  &:hover {
    svg path {
      fill: $basic_green;
      stroke-width: 1;
    }
  }

  &--fb {
    &:hover {
      svg path {
        stroke: $basic_green;
        fill: none;
      }
    }
  }

  &:active {
    svg path {
      // fill: $basic_green;
      opacity: 0.3;
    }
  }
}
