.grid {
  @media (min-width: $width-desktop) {
    width: 1220px;
    margin: 0 auto;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    justify-content: start;
    justify-items: start;
    justify-self: start;
    column-gap: 80px;
  }
}
