$basic_grey: #f2f2f2;
$special_grey-2: #e6e6e6;
$special_grey-3: #e7e7e7;
$special_grey: #cdcdcd;
$special_grey-1: #d9d9d9;
$special_dark-grey-1: #444444;
$special_dark-grey-2: #222222;
$basic_green: #68b738;
$button-hover-color: #5eaa2f;
$check-color: #68b738;
$status_error: #ff8282;
$font-site: "Oswald", "Arial", "Helvetica", sans-serif;
$mobile-with: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
$width-mobile: 320px;
$width-mobile-only: 767px;
$padding-mobile: 20px;
$width-tablet: 768px;
$padding-tablet: 70px;
$width-desktop: 1440px;
$padding-desktop: 110px;
