.wrapper {
  width: $width-mobile - $padding-mobile * 2;
  padding: 0 $padding-mobile;
  margin: 0 auto;

  @media (min-width: $width-tablet) {
    width: $width-tablet - $padding-tablet * 2;
    padding: 0 $padding-tablet;
  }

  @media (min-width: $width-desktop) {
    width: $width-desktop - $padding-desktop * 2;
    padding: 0 $padding-desktop;
  }
}
